#navigation{
  background-image: url("./pics/cover.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

#second{
	background-color: #FF69B4;
}

i{
	color: white;
}

#contactme{
  background-image: url("./pics/reason.jpg");
  display: flex;
  justify-content: center;
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

h1{
  font-size: 22px;
}

h2{
  color: #FF00FF;
}

#follow{
  display: center !important;
  background-position: center !important;
}